.WeatherForecast {
  text-align: center;
  list-style: none;
  background-image: linear-gradient(to right, #cddafd #f8edeb);

  box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.2);
  color: #3a317b;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
.WeatherForecast-icon {
  margin-left: -90px;
  margin-bottom: 20px;
}

.WeatherForecast-temperatures-min {
  opacity: 0.6;
}
.WeatherForecast-temperatures-max {
  font-weight: bold;
}

.WeatherForecast-temperatures {
  color: #3a317b;
  font-family: Arial, Helvetica, sans-serif;
}

.WeatherForecast-day {
  color: #3a317b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
