.Weather {
  border: 2px solid #dadde1;
  background-image: linear-gradient(to right, #cddafd, #e5b3fe);
  border-radius: 20px;
}

.city-description {
  list-style: none;
  text-align: left;
  color: #495057;
}

.weather-description {
  list-style: none;
  color: #495057;
}

.search-engine {
  margin-top: 10px;
  margin-left: 15px;
}

h1 {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
