.Weather {
  border: 1px solid #050505;
  background-image: linear-gradient(to left, #cddafd, #e5b3fe);
  border-radius: 20px;
  padding: 8px;
  margin: 30px auto;
  box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.Weather h1 {
  margin-left: 15px;
  color: #403592;
  margin-top: 20px;
  font-size: 25px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.city-description {
  list-style: none;
  text-align: left;
  color: #3a317b;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-description {
  list-style: none;
  padding: 0;

  color: #3a317b;
  font-family: Arial, Helvetica, sans-serif;
}

.search-engine {
  margin-top: 10px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: black;
  text-align: center;
  color: #3a317b;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: #3a317b;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 15px;
}

.Weather canvas {
  height: 60px;
  width: 60px;
  margin-left: 30px;
  display: inline-block;
}

.Weather .btn {
  background-image: linear-gradient(to bottom, #f1f6fa, #8f69a0);
  border-radius: 10px;
  color: black;
  border: 1px black;
  font-family: Arial, Helvetica, sans-serif;
}

.Weather .form-control {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border-radius: 10px;
  background-image: linear-gradient(to right, #f6f7f8, #a373b9);
  font-weight: bold;
  opacity: 0.9;
}

.linkedin-img {
  width: 18px;
  height: 18px;
}

.github-img {
  width: 18px;
  height: 18px;
}

.unit a {
  text-decoration: none;
  color: inherit;

  color: #3a317b;
}

.weather-icon {
  width: 60px;
  height: 60px;
  margin-left: 30px;
}
